h1 {
    text-align: center;
    font-family: "Raleway", sans-serif;
}
body {
    background-color: #212226;
    color: rgb(0, 0, 0);
}
nav {
    text-align: center;
    text-decoration: none;
}
form-group {
    width: 70px;
}
.navbar a.navbar-brand {
    color: white;
}
a:hover {
    text-shadow: 0 0 5px rgba(43, 255, 241, 0.765);
    color: white !important;
}